
<div style="max-height:1300px; min-height:100vh; background-color:white;" class="overlay">
	<div class="container">
		<div style=" margin-top:20vh; margin-left:auto; margin-right:auto; max-width:700px; padding-left:5px; padding-right:5px;">
			<div class="row">
			
				<h4 class="monter text-left" style="color:gray;"><span style="margin-top:4px; color: #FCC72C;margin-right:5px" class="glyphicon glyphicon-send"></span> ABOUT US</h4><hr>
				<p style="line-height:40px;"><b>POST</b> is a little idea with a <b>big</b> future- quite simply we make cards, greeting cards! We want to make the entire card buying process more convenient and personal than ever. The days of wandering lost in the supermarket searching for the perfect card are behind us. <b>POST</b> is here to make your experience fun, easy and nostalgic utilizing the Pony Express just like the good ole days.
				<br>
				<br>
				<b>Curated</b> by your young brilliant minds, we are seeking out the best designers, developers, and investors to bring our environmentally friendly idea to life. If you fit the bill, or to find out more, drop us a line. 
				<br>
				<br>
				Every card that is sold supports the independent artist who created the masterpiece.  Printed on organic Banana Paper, from EcoPaper, allows for an  earth friendly greeting card.
</p>
			</div>
		</div>
	</div>
</div>
