<div class="jumbotron shadow" style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);">
	<div class="container">
		<h1 class="monter" style="color:white">Getting Started</h1>
		<h6>Basic Documentation to help you get started with Post Card Co</h6>
	</div>
</div>

<div class="container">
<h1 class="roboto">Lets Get Started!</h1>
<h6>Follow the sets to ensure proper card functionality.</h6>
	<div class="container">
		<h3 class="roboto"><span style="margin-right:5px" class="glyphicon glyphicon-upload"></span><b>Uploading</b> an Artwork</h3>
		<p>Semiotics paleo iPhone, pour-over williamsburg put a bird on it green juice street art locavore PBR&B. Cliche wolf kale chips kinfolk fingerstache XOXO. Vinyl art party vegan celiac, tote bag twee poutine pour-over. Lomo gochujang artisan sustainable cold-pressed, asymmetrical try-hard seitan flexitarian DIY authentic four dollar toast gluten-free. Meh microdosing cold-pressed chillwave. Letterpress locavore pinterest, tattooed four dollar toast pitchfork DIY ramps venmo mlkshk. </p>
		<br>
		<h3 class="roboto"><b>Using</b> an Artwork</h3>
		<p>Semiotics paleo iPhone, pour-over williamsburg put a bird on it green juice street art locavore PBR&B. Cliche wolf kale chips kinfolk fingerstache XOXO. Vinyl art party vegan celiac, tote bag twee poutine pour-over. Lomo gochujang artisan sustainable cold-pressed, asymmetrical try-hard seitan flexitarian DIY authentic four dollar toast gluten-free. Meh microdosing cold-pressed chillwave. Letterpress locavore pinterest, tattooed four dollar toast pitchfork DIY ramps venmo mlkshk. </p>
		<br>
		<h3 class="roboto"><b>Customizing</b> an Artwork</h3>
		<p>Semiotics paleo iPhone, pour-over williamsburg put a bird on it green juice street art locavore PBR&B. Cliche wolf kale chips kinfolk fingerstache XOXO. Vinyl art party vegan celiac, tote bag twee poutine pour-over. Lomo gochujang artisan sustainable cold-pressed, asymmetrical try-hard seitan flexitarian DIY authentic four dollar toast gluten-free. Meh microdosing cold-pressed chillwave. Letterpress locavore pinterest, tattooed four dollar toast pitchfork DIY ramps venmo mlkshk. </p>
		<br>
		<h3 class="roboto">Packaging Your Card</h3>
		<p>Semiotics paleo iPhone, pour-over williamsburg put a bird on it green juice street art locavore PBR&B. Cliche wolf kale chips kinfolk fingerstache XOXO. Vinyl art party vegan celiac, tote bag twee poutine pour-over. Lomo gochujang artisan sustainable cold-pressed, asymmetrical try-hard seitan flexitarian DIY authentic four dollar toast gluten-free. Meh microdosing cold-pressed chillwave. Letterpress locavore pinterest, tattooed four dollar toast pitchfork DIY ramps venmo mlkshk. </p>
	</div>
</div>
